In [3]:
from concurrent.futures import ThreadPoolExecutor,wait,ALL_COMPLETED
import tushare as tu
import pandas as pd
import baostock as bs
import datetime 
import sys
import akshare as ak

In [2]:
executor = ThreadPoolExecutor(max_workers=10)

In [ ]:
import sys
t = 0
for k in stock_data.keys():
    # 计算内存 MB
    t += stock_data.get(k).memory_usage().sum()/(1024**2)
    # print('all_data占据内存约: {:.2f} MB'.format(stock_data.get(k).memory_usage().sum()/1024**2))
t

In [ ]:
len(stock_data)

In [ ]:
def bao_test1(code):
    if code.startswith('0') or code.startswith('3'):
        code += '.sz'
    else :
        code += '.sh'
    lg = bs.login()
    rs = bs.query_history_k_data_plus(code,
                                      "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST,peTTM,pbMRQ,pcfNcfTTM",
                                      start_date='2017-07-01', end_date='2050-12-31',
                                      frequency="d", adjustflag="3")
    bs.logout()
    print(code)

In [ ]:
def ak_test(code):
    ak.stock_zh_a_hist(symbol=code, period="daily", start_date="20200101", adjust="hfq")
    print(code)

In [ ]:
begin = datetime.datetime.now()
all_tasks = [executor.submit(ak_test, str(code)) for code in stock_codes]
wait(all_tasks, return_when=ALL_COMPLETED)
end = datetime.datetime.now()
cost = (end -begin).seconds
print('cost %i' % (cost))

In [ ]:
stock_codes

In [ ]:
realtime_df = ak.stock_zh_a_spot_em()
realtime_df

In [ ]:
p_df = ak.stock_a_lg_indicator('601318')
p_df

In [ ]:
def test163(code):
    if code.startswith('0') or code.startswith('3'):
        code = 'sz'+code
    elif code.startswith('6'):
        code = 'sh'+code
    try:
        stock_zh_a_hist_163_df = ak.stock_zh_a_hist_163(symbol=code, start_date="20210101", end_date="20220101")
        print(code)
    except  Exception as e:
        print(e)

In [ ]:
begin = datetime.datetime.now()
all_tasks = [executor.submit(test163, str(code)) for code in stock_codes]
wait(all_tasks, return_when=ALL_COMPLETED)
end = datetime.datetime.now()
cost = (end -begin).seconds
print('cost %i' % (cost))

In [6]:
all_stock_df = ak.stock_zh_a_spot_em()
all_stock_df

,序号,代码,名称,最新价,涨跌幅,涨跌额,成交量,成交额,振幅,最高,最低,今开,昨收,量比,换手率,市盈率-动态,市净率
0,1,603261,N立航,28.37,44.01,8.67,7322.0,2.071014e+07,24.01,28.37,23.64,23.64,19.70,NaN,3.80,29.58,2.53
1,2,300649,杭州园林,34.12,20.01,5.69,263329.0,8.489494e+08,21.53,34.12,28.00,28.19,28.43,1.84,25.50,93.55,8.45
2,3,301060,兰卫医学,51.90,20.00,8.65,269129.0,1.210471e+09,25.99,51.90,40.66,40.98,43.25,1.98,62.22,87.90,13.51
3,4,300306,远方信息,16.86,20.00,2.81,448412.0,7.104041e+08,13.81,16.86,14.92,14.92,14.05,3.14,29.53,40.84,3.01
4,5,300167,迪威迅,6.68,19.93,1.11,837454.0,5.410826e+08,21.01,6.68,5.51,5.52,5.57,2.00,27.89,-22.24,5.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4913,4914,300721,怡达股份,39.09,-16.62,-7.79,28870.0,1.190494e+08,14.72,44.78,37.88,44.78,46.88,2.51,4.11,25.43,2.97
4914,4915,301236,N软通,60.60,-16.85,-12.28,250050.0,1.560344e+09,18.62,71.65,58.08,59.00,72.88,NaN,48.75,27.17,2.72
4915,4916,688163,赛伦生物,41.98,-17.04,-8.62,105637.0,4.785963e+08,16.38,48.42,40.13,47.80,50.60,0.66,42.66,59.15,3.93
4916,4917,688256,寒武纪-U,66.02,-18.38,-14.87,70703.0,4.982050e+08,16.71,78.50,64.98,78.50,80.89,3.02,2.93,-31.23,4.50
4917,4918,301131,C聚赛龙,60.00,-22.38,-17.30,74390.0,4.831594e+08,13.05,69.97,59.88,68.00,77.30,0.85,62.24,44.73,3.75

In [15]:
codes = all_stock_df.rename({'代码':'code','名称':'name'},axis='columns')

code = codes[['code','name']]

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://stock_db:P4WSfPDzKL3ykbCz@42.192.15.190:3306/stock_db')

code.to_sql('stock_code', engine, index=False, if_exists='append')

In [28]:
import pandas as pd
def get_codes():
    codes = pd.read_sql("select * from stock_code", engine)
    return codes

codes = get_codes()

In [ ]:
codes

In [37]:
import talib as ta

def get_stock_data(code, start_date, end_date):
    start = datetime.datetime.strptime(start_date, '%Y-%m-%d')
    end = datetime.datetime.strptime(end_date, '%Y-%m-%d')
    stock_df = ak.stock_zh_a_hist(symbol=code, adjust='hfq', start_date=start_date, end_date=end_date)
    if stock_df.empty:
        print('+++++++code=%s is none+++++++' % code)
        return code, None
    stock_df = stock_df.rename({'开盘': 'open',
                                '收盘': 'close',
                                '最高': 'high',
                                '最低': 'low',
                                '成交量': 'volume',
                                '成交额': 'amount',
                                '换手率': 'turn',
                                '日期': 'date'},
                               axis='columns')
    stock_df.index = pd.to_datetime(stock_df['date'])
    stock_df.index.name = 'date'
    try:
        base_df = ak.stock_a_lg_indicator(code)
        base_df.index = pd.to_datetime(base_df['trade_date'])
        t = base_df.loc[end:start].sort_index()
        t.index.name = 'date'
        stock_df[['pe', 'pb', 'total_mv']] = t[['pe', 'pb', 'total_mv']]
    except Exception as e:
        print('=============code= %s,e=%s' % (code, e))
        stock_df[['pe', 'pb', 'total_mv']] = 0
        # 计算每日量比
    stock_df['lb'] = stock_df['volume'] / ta.SMA(stock_df['volume'], timeperiod=5)
    # print(code)
    stock_df['code']=code
    return code, stock_df

In [49]:
_,df = get_stock_data('000001','2018-01-01','2022-03-15')
df
# df.to_sql('stock_data', engine, index=False, if_exists='append')

,date,open,close,high,low,volume,amount,振幅,涨跌幅,涨跌额,turn,pe,pb,total_mv,lb,code
date,,,,,,,,,,,,,,,,
2018-01-02,2018-01-02,2228.23,2285.12,2322.50,2223.36,2081593,2.856544e+09,4.47,2.93,65.01,1.23,10.4091,1.1871,23523463.5714,NaN,000001
2018-01-03,2018-01-03,2289.99,2224.98,2311.12,2203.85,2962498,4.006221e+09,4.69,-2.63,-60.14,1.75,10.128,1.155,22888158.3509,NaN,000001
2018-01-04,2018-01-04,2223.36,2211.98,2231.48,2192.48,1854509,2.454544e+09,1.75,-0.58,-13.00,1.10,10.0672,1.1481,22750795.06,NaN,000001
2018-01-05,2018-01-05,2205.48,2220.11,2228.23,2195.73,1210313,1.603290e+09,1.47,0.37,8.13,0.72,10.1052,1.1524,22836647.1168,NaN,000001
2018-01-08,2018-01-08,2211.98,2164.85,2218.48,2148.60,2158621,2.806099e+09,3.15,-2.49,-55.26,1.28,9.8468,1.123,22252853.1303,1.051188,000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-09,2022-03-09,2509.24,2418.23,2517.37,2317.46,1800760,2.492043e+09,8.01,-3.06,-76.39,0.93,9.2844,0.8251,26857790.786,1.641180,000001
2022-03-10,2022-03-10,2473.49,2536.87,2566.13,2458.86,2249158,3.269868e+09,4.44,4.91,118.64,1.16,7.7814,0.8686,28274422.8145,1.571289,000001
2022-03-11,2022-03-11,2509.24,2590.51,2603.51,2468.61,1493647,2.187481e+09,5.32,2.11,53.64,0.77,7.9576,0.8883,28914818.115,0.974996,000001
2022-03-14,2022-03-14,2546.63,2523.87,2595.38,2517.37,1118407,1.637278e+09,3.01,-2.57,-66.64,0.58,7.7387,0.8639,28119175.4689,0.729554,000001
2022-03-15,2022-03-15,2509.24,2392.22,2509.24,2379.22,1781409,2.479770e+09,5.15,-5.22,-131.65,0.92,7.3061,0.8156,26547296.0949,1.054914,000001

In [ ]:
st = code[code['name'].str.contains('ST')]
st

In [ ]:
writed_codes = pd.read_sql('select distinct code from stock_basic_data', engine)
writed_codes

In [ ]:
code

In [ ]:
flag = code['code'].isin(writed_codes['code'])
flag

In [69]:
diff = code[[not f for f in flag]]

In [71]:
diff['code']

0       603261
6       301166
7       688687
8       300436
9       300199
         ...
4911    301033
4912    301235
4914    301236
4915    688163
4917    301131
Name: code, Length: 3018, dtype: object

In [72]:
all_stock_df = ak.stock_zh_a_spot_em()
writed_codes = pd.read_sql('select distinct code from stock_basic_data', engine)
flag = all_stock_df['代码'].isin(writed_codes['code'])
diff = all_stock_df[[not f for f in flag]]
diff

2022-03-16 11:40:04,454 - sqlalchemy.pool.impl.QueuePool - ERROR - Exception during reset or similar
Traceback (most recent call last):
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/pymysql/connections.py", line 732, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/socket.py", line 704, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [Errno 54] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 669, in do_rollback
    dbapi_connection.rollback()
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/pymysql/connections.py", line 480, in rollback
    self._read_ok_packet()
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/pymysql/connections.py", line 443, in _read_ok_packet
    pkt = self._read_packet()
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/pymysql/connections.py", line 692, in _read_packet
    packet_header = self._read_bytes(4)
  File "/Users/apple/opt/anaconda3/envs/py3/lib/python3.9/site-packages/pymysql/connections.py", line 738, in _read_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query ([Errno 54] Connection reset by peer)')

,序号,代码,名称,最新价,涨跌幅,涨跌额,成交量,成交额,振幅,最高,最低,今开,昨收,量比,换手率,市盈率-动态,市净率
0,1,688102,N斯瑞,17.80,69.85,7.32,178497.0,3.174292e+08,20.23,19.12,17.00,17.00,10.48,NaN,54.35,114.03,7.55
5,6,830946,森萱医药,20.73,16.59,2.95,174851.0,3.591877e+08,16.82,22.05,19.06,19.77,17.78,2.30,4.10,67.46,8.83
11,12,301236,C软通,67.02,10.59,6.42,179878.0,1.165138e+09,11.85,68.86,61.68,63.00,60.60,1.44,35.07,30.04,3.01
32,33,603261,立航科技,31.21,10.01,2.84,655.0,2.042788e+06,0.00,31.21,31.21,31.21,28.37,0.18,0.34,32.54,2.78
207,208,430047,诺思兰德,13.45,4.18,0.54,12629.0,1.672793e+07,9.91,13.99,12.71,13.31,12.91,2.21,0.85,-68.53,14.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4788,4789,430418,苏轴股份,11.49,-5.43,-0.66,1144.0,1.334791e+06,8.23,12.15,11.15,11.99,12.15,1.72,0.29,14.11,1.66
4800,4801,871553,凯腾精工,4.07,-5.57,-0.24,485.0,2.037210e+05,6.50,4.33,4.05,4.32,4.31,0.65,0.08,22.69,1.78
4825,4826,832885,星辰科技,12.80,-6.02,-0.82,2293.0,3.038043e+06,9.91,14.10,12.75,13.42,13.62,2.60,0.83,38.10,2.93
4871,4872,834475,三友科技,6.83,-7.20,-0.53,1892.0,1.329413e+06,9.10,7.48,6.81,7.37,7.36,2.54,0.67,19.11,2.18
4897,4898,835179,凯德石英,17.29,-8.52,-1.61,8295.0,1.455859e+07,9.95,18.88,17.00,18.81,18.90,2.27,2.40,32.18,2.06

In [73]:
dd = ak.stock_a_lg_indicator('000018')
dd[]

,trade_date,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_mv
0,2020-01-06,NaN,NaN,NaN,0.1889,0.9317,NaN,NaN,45852.6153
1,2020-01-03,NaN,NaN,NaN,0.1889,0.9317,NaN,NaN,45852.6153
2,2020-01-02,NaN,NaN,NaN,0.1889,0.9317,NaN,NaN,45852.6153
3,2019-12-31,NaN,NaN,NaN,0.1889,0.9317,14.8148,NaN,45852.6153
4,2019-12-30,NaN,NaN,NaN,0.1889,0.9317,14.8148,NaN,45852.6153
...,...,...,...,...,...,...,...,...,...
4092,2002-03-27,2631.5474,2631.5474,7.214,15.6188,15.6188,0.0,NaN,221407.344
4093,2002-03-26,2516.9575,2516.9575,6.8998,14.9387,14.9387,0.0,NaN,211766.2297
4094,2002-03-25,2559.1748,2559.1748,7.0156,15.1892,15.1892,0.0,NaN,215318.2192
4095,2002-03-22,431.2772,680.9756,7.086,13.3345,14.8649,0.0,NaN,218362.7816
4096,2002-03-21,438.6267,692.5802,7.2068,13.5617,15.1182,0.0,NaN,222083.9134

In [78]:
import os
root_path  = script_dir = os.path.dirname(__file__)


root_path

NameError: name '__file__' is not defined