In [5]:
import pandas as pd
import baostock as bs
import talib as ta

In [6]:
def get_k_bao_online(code):
    if code.startswith('0') or code.startswith('3'):
        code += '.sz'
    else:
        code += '.sh'

    lg = bs.login()
    rs = bs.query_history_k_data_plus(code,
                                      "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST,peTTM,pbMRQ,pcfNcfTTM",
                                      start_date='2017-07-01', end_date='2050-12-31',
                                      frequency="d", adjustflag="3")
    bs.logout()
    data_list = []
    while (rs.error_code == '0') & rs.next():
        # 获取一条记录，将记录合并在一起
        data_list.append(rs.get_row_data())

    if len(data_list) > 0:
        result = pd.DataFrame(data_list, columns=rs.fields)
        result.index = pd.to_datetime(result['date'])
        rs.fields.remove('date')
        rs.fields.remove('code')

        for f in rs.fields:
            result[f] = pd.to_numeric(result[f])
        return result
    return None

In [18]:
df = get_k_bao_online('600000')
df

login success!
logout success!

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST,peTTM,pbMRQ,pcfNcfTTM
date,,,,,,,,,,,,,,,,,
2017-07-03,2017-07-03,sh.600000,12.64,12.65,12.47,12.56,12.65,38778949,4.862647e+08,3,0.137985,1,-0.711456,0,6.580721,1.008118,-3.201604
2017-07-04,2017-07-04,sh.600000,12.55,12.58,12.41,12.55,12.56,36659128,4.584344e+08,3,0.130442,1,-0.079620,0,6.575481,1.007315,-3.199055
2017-07-05,2017-07-05,sh.600000,12.50,12.65,12.47,12.62,12.55,26470507,3.325425e+08,3,0.094188,1,0.557767,0,6.612157,1.012933,-3.216899
2017-07-06,2017-07-06,sh.600000,12.62,12.72,12.51,12.66,12.62,37414241,4.715821e+08,3,0.133129,1,0.316957,0,6.633115,1.016144,-3.227095
2017-07-07,2017-07-07,sh.600000,12.62,12.69,12.55,12.60,12.66,24667294,3.111015e+08,3,0.087772,1,-0.473929,0,6.601678,1.011328,-3.211800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-21,2022-02-21,sh.600000,8.64,8.64,8.55,8.60,8.67,24334270,2.089989e+08,3,0.082900,1,-0.807400,0,4.579703,0.459097,4.479259
2022-02-22,2022-02-22,sh.600000,8.57,8.59,8.53,8.58,8.60,32497174,2.781404e+08,3,0.110700,1,-0.232600,0,4.569052,0.458030,4.468842
2022-02-23,2022-02-23,sh.600000,8.59,8.59,8.53,8.54,8.58,29476392,2.519023e+08,3,0.100400,1,-0.466200,0,4.547752,0.455894,4.448008
2022-02-24,2022-02-24,sh.600000,8.54,8.55,8.40,8.44,8.54,47703559,4.042323e+08,3,0.162500,1,-1.171000,0,4.494499,0.450556,4.395924
2022-02-25,2022-02-25,sh.600000,8.44,8.48,8.41,8.43,8.44,32239910,2.720956e+08,3,0.109800,1,-0.118500,0,4.489174,0.450022,4.390716

In [19]:
# df['vol_5'] = ta.SMA(df['volume'],timeperiod=5)
df['lb'] = df['volume']/ta.SMA(df['volume'],timeperiod=5)
df = df.round(2)
df

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST,peTTM,pbMRQ,pcfNcfTTM,lb
date,,,,,,,,,,,,,,,,,,
2017-07-03,2017-07-03,sh.600000,12.64,12.65,12.47,12.56,12.65,38778949,4.862647e+08,3,0.14,1,-0.71,0,6.58,1.01,-3.20,NaN
2017-07-04,2017-07-04,sh.600000,12.55,12.58,12.41,12.55,12.56,36659128,4.584344e+08,3,0.13,1,-0.08,0,6.58,1.01,-3.20,NaN
2017-07-05,2017-07-05,sh.600000,12.50,12.65,12.47,12.62,12.55,26470507,3.325425e+08,3,0.09,1,0.56,0,6.61,1.01,-3.22,NaN
2017-07-06,2017-07-06,sh.600000,12.62,12.72,12.51,12.66,12.62,37414241,4.715821e+08,3,0.13,1,0.32,0,6.63,1.02,-3.23,NaN
2017-07-07,2017-07-07,sh.600000,12.62,12.69,12.55,12.60,12.66,24667294,3.111015e+08,3,0.09,1,-0.47,0,6.60,1.01,-3.21,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-21,2022-02-21,sh.600000,8.64,8.64,8.55,8.60,8.67,24334270,2.089989e+08,3,0.08,1,-0.81,0,4.58,0.46,4.48,0.85
2022-02-22,2022-02-22,sh.600000,8.57,8.59,8.53,8.58,8.60,32497174,2.781404e+08,3,0.11,1,-0.23,0,4.57,0.46,4.47,1.13
2022-02-23,2022-02-23,sh.600000,8.59,8.59,8.53,8.54,8.58,29476392,2.519023e+08,3,0.10,1,-0.47,0,4.55,0.46,4.45,1.01
2022-02-24,2022-02-24,sh.600000,8.54,8.55,8.40,8.44,8.54,47703559,4.042323e+08,3,0.16,1,-1.17,0,4.49,0.45,4.40,1.42
2022-02-25,2022-02-25,sh.600000,8.44,8.48,8.41,8.43,8.44,32239910,2.720956e+08,3,0.11,1,-0.12,0,4.49,0.45,4.39,0.97